.theme-switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
  }
  
  .theme-switch input {
    display: none;
  }
  
  .theme-switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--pink-color);
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .theme-switch-slider:before {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: var(--grey-color);
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .theme-switch-slider {
    background-color: var(--pink-color);
  }
  
  input:checked + .theme-switch-slider:before {
    transform: translateX(24px);

  }
  