#skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#skills-main-container {
  margin: 3.75rem 0 0 0;
  width: 90%;
  column-gap: 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#skill-sub-container {
  height: 100%;
  background-color: var(--grey-color);
  border-radius: 0.5rem;
  width: 100%;
  color: var(--white-color);
  font-size: 2rem;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  margin: 1.5rem 0 0 0;
}

/* #skills-content {
    font-size: 2.4rem;
    margin: 0 0 2rem 0;
  } */

#skill-sub-container ul li {
  margin-bottom: 2rem;
}

#skills-right img {
  width: 20rem;
  /* height: 100%; */
}

#skills-image-phone{
    width: 20rem;
    display: none;
}

.skills-100 {
  width: 100%;
  height: 0.625rem;
  background-color: var(--white-color);
  border-radius: 0.5rem;
}
.skills-element-heading{
    font-size: 1.5rem;
}

.skills-element {
  height: 100%;
  background-color: var(--pink-color);
  border-radius: 0.5rem;
}

#frontend {
  width: 85%;
}

#backend {
  width: 30%;
}

#UIdesign {
  width: 90%;
}

#problem-solving {
  width: 80%;
}

#skills-phone-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
@media screen and (max-width: 900px) {
  #skills {
    width: 100%;
    height: fit-content;
  }

  #skills-right img {
    width: 24rem;
    height: 100%;
    display: none;
  }

  #skills-image-phone{
    display: block;
    width: 16rem;
    height: 100%;
}

  #skills-main-container {
    margin: 5rem 0 0 0;
    flex-wrap: wrap;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    /* column-gap: 5rem; */
    text-align: center;
    align-items: center;
  }

  /* #skills-content {
      font-size: 2.4rem;
      margin: 0 0 2rem 0;
    } */

  #skill-sub-container {
    font-size: 1.5rem;
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  }
}
