#work {
  height: 100%;
  margin: 0 0 6.25rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#work-main-container{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.card-container {
  width: 86%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6.25rem;
  align-items: center;
  justify-content: space-evenly;
}

.project-card {
  height: 25rem;
  width: 18.75rem;
  background-color: var(--grey-color);
  color: var(--white-color); 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1.875rem;
  padding: 1.25rem;
}

.card-image img {
  border-radius: 0.625rem;
  border: 0.125rem solid var(--white-color);
}

.card-heading {
  font-size: 1.75rem;
  margin: 0.625rem 0;
  font-weight: 300;
}

.card-content {
  font-size: 1rem;
  font-weight: 200;
}

.card-btn {
  font-size: 1rem;
  background-color: var(--white-color);
  color: var(--grey-color);
  width: max-content;
  padding: 0.625rem 1.25rem;
  border-radius: 0.625rem;
  cursor: pointer;
}
.card-btn a{
  color: var(--grey-color);
}


.card-btn:hover {
  background-color: var(--pink-color);
  color: var(--white-color);
}

.project-card {
  /* Add hover effects here */
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: scale(1.05); /* Increase size on hover */
}

.card-btn:hover a{
  color: var(--white-color);
  transition: none;
}

#work-heading {
  margin: 3rem 0 2rem 0;
}



@media screen and (max-width: 430px){

  .card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.25rem 0.625rem;
    align-items: center;
    justify-content: space-evenly;
  }

  .project-card {
    height: 16.25rem;
    width: 10rem;
    display: flex;
    border-radius: 1.25rem;
    padding: 0.625rem;
  }

  .card-heading {
    font-size: 1.25rem;
    margin: 0.625rem 0;
    font-weight: 300;
  }
  
  .card-content {
    font-size: 1rem;
    font-weight: 200;
  }
}
 
