#contact {
  height: 100vh;
  background-color: var(--grey-color);
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  z-index: 9999999;
}

#fake-footer {
  height: 4rem;
  width: 100%;
}

#footer-helper-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5rem 0 1.25rem 0;
  height: calc(100vh - 4rem);
}

#contact-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

#anay-image {
  height: 6.25rem;
  margin: 0 2rem 0 0;
  width: max-content;
  border-radius: 100rem;
}

.footer-main-text {
  font-size: 7.5rem;
}

#footer-line1 {
  display: flex;
}

.horizontal-line {
  height: 0.063rem;
  width: 100%;
  background-color: var(--white-color);
}

.contact-phone-mail {
  font-size: 1rem;
  font-weight: 300;
  padding: 1.25rem 2.5rem;
  border: 0.063rem solid var(--white-color);
  width: fit-content;
  border-radius: 100rem;
}

#mail a,#phone a {
  color: var(--white-color);
}

#mail-phone {
  display: flex;
  column-gap: 1.25rem;
}

#bottom-footer {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.up-text {
  font-size: 0.875rem;
  font-weight: 300;
}

.down-text {
  font-size: 1rem;
}
.down-text a {
  font-size: 1rem;
  color: var(--white-color);
}

.down-text:hover {
  font-size: 1rem;
  color: var(--pink-color);
}

.down-text a:hover {
  font-size: 1rem;
  color: var(--pink-color);
}

.version-time {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
}

#bottom-left {
  display: flex;
  flex-direction: row;
  column-gap: 1.25rem;
}

#bottom-right {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
}

#bottom-right ul {
  display: flex;
  flex-direction: row;
  column-gap: 1.25rem;
}

@media screen and (max-width: 600px) {
  #contact {
    width: 100%;
  }

  #mail-phone {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.25rem;
    row-gap: 1.25rem;
  }

  #anay-image {
    height: 1.25rem;
    margin: 0 2rem 0 0;
    width: max-content;
    border-radius: 100rem;
  }

  #footer-helper-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2.5rem 0 1.25rem 0;
    height: calc(100vh - 4rem);
  }

  #anay-image {
    height: 3.75rem;
    margin: 0 0.625rem 0 0;
    width: max-content;
    border-radius: 62.5rem;
  }

  .footer-main-text {
    font-size: 3.125rem;
  }

  #bottom-footer {
    width: 95%;
    display: flex;
    flex-wrap: wrap-reverse;
    row-gap: 3.75rem;
    margin: 0 0 2.5rem 0;
  }

  #bottom-left {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 1.25rem;
    align-items: center;
    justify-content: center;
  }

  #bottom-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.625rem;
    align-items: center;
    justify-content: center;
  }
}