#home {
  height: 100vh;
}

#home-left {
  margin: 0 0 0 10rem;
}

.fake-nav {
  height: 6.4rem;
}

#home-text-heading {
  font-size: 16rem;
}

#anay {
  text-decoration: underline var(--pink-color);
  text-decoration-thickness: 0.8rem;
}

#home-text-subheading {
  font-size: 6rem;
  color: var(--light-grey-color);
}

#home-right img {
  height: 90vh;
}
