#about {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-main-container {
  width: 86%;
  column-gap: 12rem;
}

#about-left img *important{
  height: 100%;
  /* width: 40rem; */
}

@media screen and (max-width: 996px) {
  #about {
    display: flex;
    flex-direction: column;
  }
  #about-main-container {
    margin: 4rem 0 0 0;
    justify-content: center;
    flex-wrap: wrap-reverse;
  }

  #about-left img {
    height: 100%;
    width: 24rem;
  }

  #about-right {
    width: 100%;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 430px) {
  #about {
    display: flex;
    flex-direction: column;
  }
  #about-main-container {
    margin: 4rem 0 0 0;
    justify-content: center;
    flex-wrap: wrap-reverse;
  }

  #about-left img {
    height: 100%;
    width: 24rem;
  }

  #about-right {
    width: 100%;
    align-items: center;
    text-align: center;
  }
}
