#about {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 86%;
}

#about-left img *important{
  height: 100%;
  /* width: 40rem; */
}

@media screen and (max-width: 996px) {
  #about {
    display: flex;
    flex-direction: column;
  }
  #about-main-container {
    margin: 4rem 0 2rem 0;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 2rem;
  }

  #about-left img {
    height: 100%;
    width: 15rem;
  }

  #about-right {
    width: 100%;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 480px){
  #about-left img {
      width: 15rem;
    }
}


