#about {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-main-container {
  width: 86%;
  column-gap: 12rem;
}

#about-left img {
  height: 100%;
  width: 40rem;
}
