nav {
  font-size: 2rem;
  background-color: var(--white-color);
  height: 6.4rem;
  align-items: center;
  width: 100%;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1),
    0 0.4rem 0.8rem rgba(0, 0, 0, 0.1), 0 0.8rem 1.6rem rgba(0, 0, 0, 0.1);
  position: fixed;
}

#helper-nav {
  background-color: var(--white-color);
  height: 6.4rem;
  width: 96%;
  align-items: center;
}

#navbar-right {
  column-gap: 2rem;
}

.nav-btn {
  color: var(--grey-color);
  transition: var(--transition);
  padding: 1rem 2.4rem;
  border-radius: 100rem;
}

.nav-btn:hover {
  background-color: var(--pink-color);
  border: none;
  cursor: pointer;
}
