nav {
  display: flex;
  justify-content: center;
  background-color: var(--white-color);
  height: 4rem;
  width: 100%;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1),
    0 0.4rem 0.8rem rgba(0, 0, 0, 0.1), 0 0.8rem 1.6rem rgba(0, 0, 0, 0.1);
  position: fixed;
  transition: transform 0.3s ease-in-out;
  transform: translateY(0);
}

#code-by-anay{
  padding: 0.5rem 1rem;
  color: var(--grey-color);
  background-color: var(--pink-color);
  border-radius: 0.5rem;
}

#helper-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

#navbar-right {
  column-gap: 2rem;
  display: flex;
}

.nav-btn {
  color: var(--grey-color);
  transition: var(--transition);
  padding: 0.625rem 2rem;
  border-radius: 100rem;
}

.nav-btn:hover {
  background-color: var(--pink-color);
  border: none;
  cursor: pointer;
}

#hamburger-btn {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
}

.bar {
  height: 0.25rem;
  width: 1.25rem;
  background-color: var(--grey-color);
  margin: 0.25rem 0;
  border-radius: 0.125rem;
}

@media screen and (max-width: 900px) {
  #navbar {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
  }

  #navbar.show {
    transform: translateY(-100%);
  }

  #navbar-right {
    flex-direction: column;
    position: absolute;
    top: 4rem;
    left: 0;
    background-color: var(--white-color);
    width: 100%;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    display: none;
  }

  #navbar.show #navbar-right {
    display: flex;
  }

  .nav-btn {
    width: 100%;
    text-align: center;
  }

  #hamburger-btn {
    display: block;
    /* position: absolute; */
    background-color: var(--white-color);
    top: 1rem;
    right: 1rem;
    height: fit-content;
    padding: 0.5rem 1rem;
    z-index: 1; /* Ensure the button is above the menu */
  }

  .bar {
    height: 0.25rem;
    width: 1.25rem;
    background-color: var(--pink-color);
    margin: 0.25rem 0;
    border-radius: 0.125rem;
  }
}
